################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/obj/Debug/net5.0
/Core/bin/Debug/net5.0
/DataModel/bin/Debug/net5.0
/DataModel/obj/Debug
/Core/obj
/Interface/bin/Debug/net5.0
/Interface/obj
/Service/bin/Debug/net5.0
/Service/obj
/TestApi/bin/Debug/net5.0
/TestApi/obj
/TestApi/.vs/TestApi
/client/node_modules
